[Desktop Entry]
Name=Monitoring wentylatora
Comment=System monitorowania wentylatora
Icon=/usr/share/icons/dk-wm/app.png
Exec=sudo VentilatorMonitorStart
Type=Application
Encoding=UTF-8
Terminal=false
Categories=None;
